<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>msg</key>
	<string>获取购物车成功</string>
	<key>status</key>
	<string>1</string>
	<key>shopsArray</key>
	<array>
		<dict>
			<key>shopNum</key>
			<string>5</string>
			<key>shopName</key>
			<string>闵行咖啡馆</string>
			<key>shopId</key>
			<string>1</string>
			<key>shopTotalMoney</key>
			<string>50</string>
			<key>shopImage</key>
			<string>占位头像.jpg</string>
			<key>shopTitle</key>
			<string>闵行真好</string>
			<key>goodsArray</key>
			<array>
				<dict>
					<key>goodName</key>
					<string>摩卡</string>
					<key>goodId</key>
					<string>11</string>
					<key>goodTotalMoney</key>
					<string>20</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>摩卡真好</string>
					<key>goodSize</key>
					<string>160z</string>
					<key>goodPrice</key>
					<string>10</string>
					<key>goodNum</key>
					<string>2</string>
				</dict>
				<dict>
					<key>goodName</key>
					<string>美式</string>
					<key>goodId</key>
					<string>12</string>
					<key>goodTotalMoney</key>
					<string>30</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>美式太丑了</string>
					<key>goodSize</key>
					<string>140z</string>
					<key>goodPrice</key>
					<string>10</string>
					<key>goodNum</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopNum</key>
			<string>5</string>
			<key>shopName</key>
			<string>闵行咖啡馆</string>
			<key>shopId</key>
			<string>1</string>
			<key>shopTotalMoney</key>
			<string>50</string>
			<key>shopImage</key>
			<string>占位头像.jpg</string>
			<key>shopTitle</key>
			<string>闵行真好</string>
			<key>goodsArray</key>
			<array>
				<dict>
					<key>goodName</key>
					<string>摩卡</string>
					<key>goodId</key>
					<string>11</string>
					<key>goodTotalMoney</key>
					<string>20</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>摩卡真好</string>
					<key>goodSize</key>
					<string>160z</string>
					<key>goodPrice</key>
					<string>10</string>
					<key>goodNum</key>
					<string>2</string>
				</dict>
				<dict>
					<key>goodName</key>
					<string>美式</string>
					<key>goodId</key>
					<string>12</string>
					<key>goodTotalMoney</key>
					<string>30</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>美式太丑了</string>
					<key>goodSize</key>
					<string>140z</string>
					<key>goodPrice</key>
					<string>10</string>
					<key>goodNum</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopNum</key>
			<string>5</string>
			<key>shopName</key>
			<string>古美咖啡馆</string>
			<key>shopId</key>
			<string>2</string>
			<key>shopTotalMoney</key>
			<string>45</string>
			<key>shopImage</key>
			<string>占位头像.jpg</string>
			<key>shopTitle</key>
			<string>闵行真好</string>
			<key>goodsArray</key>
			<array>
				<dict>
					<key>goodName</key>
					<string>摩卡</string>
					<key>goodId</key>
					<string>13</string>
					<key>goodTotalMoney</key>
					<string>9</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>摩卡真好</string>
					<key>goodSize</key>
					<string>160z</string>
					<key>goodPrice</key>
					<string>9</string>
					<key>goodNum</key>
					<string>1</string>
				</dict>
				<dict>
					<key>goodName</key>
					<string>焦糖玛奇朵</string>
					<key>goodId</key>
					<string>14</string>
					<key>goodTotalMoney</key>
					<string>20</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>摩卡真好</string>
					<key>goodSize</key>
					<string>160z</string>
					<key>goodPrice</key>
					<string>10</string>
					<key>goodNum</key>
					<string>2</string>
				</dict>
				<dict>
					<key>goodName</key>
					<string>冰美式</string>
					<key>goodId</key>
					<string>15</string>
					<key>goodTotalMoney</key>
					<string>16</string>
					<key>goodImage</key>
					<string>占位头像.jpg</string>
					<key>goodTitle</key>
					<string>美式太丑了</string>
					<key>goodSize</key>
					<string>140z</string>
					<key>goodPrice</key>
					<string>8</string>
					<key>goodNum</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
